.shopping-cart {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center; /* Centrar el contenido del carrito */
}

.shopping-cart-title {
  font-size: 24px;
  color: #fffefe;
  margin-bottom: 20px;
}

.search,
.presentation select {
  border-radius: 5px;
  max-width: 250px;
  max-height: 35px;
  margin: 10px auto; /* Centrar el campo de búsqueda y el select */
}

.shopping-cart-content {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 4px;
}

.show-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(33.33% - 20px), 1fr)); /* Ajuste automático del número de productos por fila */
  gap: 20px;
  justify-content: center; /* Centrar los productos en el carrito */
}

.producto-cart {
  border-radius: 9px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  text-align: center; /* Centrar el contenido de cada producto */
}

.img-product img {
  width: 100%; /* Ajustar todas las imágenes al 100% del ancho del contenedor */
  height: 300px; /* Ajustar la altura de todas las imágenes */
  object-fit: cover; /* Ajustar el tamaño de la imagen para cubrir completamente el contenedor */
  border-radius: 10px; /* Ajustar el radio de borde de las imágenes */
}

.name-product,
.price-product,
.cantidad-product,
.trash-bin-img {
  margin-top: 5px;
}

.price-product {
  text-align: center;
}

.trash-bin-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.total-price {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-bottom: 10px;
  border-radius: 7px;
  padding: 15px 10px;
  color: #000000;
  background-color: rgb(255, 255, 255);
  border-bottom-width: 5px;
  max-width: 300px;
  margin: 0 auto;
}

.total-price p {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .producto-cart {
    padding: 15px;
  }
}

.separador-p {
  line-height: 1.5;
}

.btn-buy {
  background: linear-gradient(45deg, rgb(3, 212, 83),  rgb(3, 212, 47));
  color: #ffffff;
  border: none;
  padding: 14px 24px;
  font-size: 17px;
  border-radius: 8px;
  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
  text-decoration: none;
  max-width: 300px;
  margin: 20px auto; /* Centrar el botón */
}

.btn-buy i {
  margin-right: 8px;
  font-size: 20px;
}

.btn-buy:hover {
  background-color: #7cee82;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .btn-buy {
    font-size: 15px;
    padding: 12px 20px;
    max-width: 250px;
  }
}

.btn-delete {
  max-width: 35px !important;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-buy:hover {
  background-color: #51f2af;
}

.btn-buy:active {
  background-color: #64ea81;
}

.cantidad-product {
  padding-left: 20px;
}

.btn-add,
.btn-remove {
  font-size: 18px;
  padding: 8px 15px;
  border: none;
  border-radius: 25px;
  margin: 5px;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  display: inline-flex;
  align-items: center;
}

.btn-add {
  background-color: seagreen;
}

.btn-add:hover {
  background-color: #4ae27d;
}

.btn-add:active {
  background-color: seagreen;
}

.btn-remove {
  background-color: #f51818;
  margin-left: 10px;
}

.btn-remove:hover {
  background-color: #f27474;
}

.btn-remove:active {
  background-color: #f52727;
}

.fa-icon-trash {
  font-size: 1.5em;
  color: red;
  cursor: pointer;
  margin-left: 50%;
}

.fa-icon-trash:hover {
  color: #ff0000;
}

.fa-icon-trash:active {
  color: #cc0000;
}

.product-amount {
  font-size: 20px;
  color: #f5f5f5;
  margin: 10px;
}

.cantidad {
  padding: 20px;
  text-align: center;
  display: inline-grid;
}

.cantidad-producto {
  width: 45px;
  height: 25px;
  place-self: center;
  text-align: center;
}

@media (max-width: 850px) {
  .show-products {
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr)); /* Ajuste automático del número de productos por fila */
  }
}

@media (max-width: 380px) {
  .shopping-cart-title {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .presentation,
  .producto-cart,
  .total-price {
    margin: 10px auto; /* Centrar los contenedores */
  }

  .presentation select,
  .btn-add,
  .btn-remove {
    margin: 3px;
  }

  .show-products {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajuste automático del número de productos por fila */
  }
}
