.advertisement-section-anuncios {
    margin-top: 30px;
  }
  
  .image-pair-anuncios {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
  
  .advertisement-image-anuncios {
    max-width: 100%;
    height: auto;
    border: 2px;
    border-radius: 5px;
  }
  
  h1 {
    color: rgb(255, 255, 255);
    text-align: center;
  }
  
  .p-anuncios {
    color: rgb(255, 255, 255);
    text-align: center;
  }
  
  
  