.AboutUsInfo {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.AboutUsInfo h1 {
  color: white;
}
.AboutUsInfo p {
  text-align: justify;
  justify-content: center;
  color: white;
}
.about-section {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  text-align: center;
  gap: 25px;
  border-radius: 5px;
  padding: 10px;
  margin: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: rgba(47, 134, 166, 0.6); /* Color de fondo con transparencia */
  border: 2px solid orange;
  color: white;
}

.mision,
.objetives{
  max-width: 90%;
  max-height: auto;
  margin: 5px;
  text-align: justify;
}

.about-image {
  display: block;
  margin: 0 auto; /* Centrar horizontalmente */
  align-self: center; /* Centrar verticalmente */
  max-width: 250px;
  border-radius: 5px;
}


@media (min-width: 768px) {
  .AboutUsInfo {
    padding: 60px;
  }

  .product-grid {
    flex-direction: row;
  }

  .about-section {
    margin-bottom: 40px;
  }

  .product-item {
    flex-direction: column;
  }

  .product-image {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .product-grid {
    display: flex;
    justify-content: center;
  }

  h2, h3 {
    font-size: 24px;
  }
}