.AboutUsInfo {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-section {
  text-align: center;
  width: 1000px;
  height: 200px;
  border-radius: 4px;
  padding: 10px;
  margin: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: rgba(47, 134, 166, 0.6); /* Color de fondo con transparencia */
  border: 1px solid rgb(139, 80, 139);
  color: white;
}

.about-section:hover{
  transform: scale(1.10);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}
.product-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.product-item:hover {
  transform: translateY(-5px);
}

h2, h3 {
  color: #ffffff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

p {
  color: #ffffff;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .AboutUsInfo {
    padding: 80px;
  }

  .product-grid {
    flex-direction: row;
  }

  .about-section {
    margin-bottom: 40px;
  }

  .product-item {
    flex-direction: column;
  }

  .product-image {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .product-grid {
    display: flex;
    justify-content: center;
  }

  h2, h3 {
    font-size: 24px;
  }
}