.footer {
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 42px;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .icons img{
    max-width: 40px;
    filter: invert(100%);
  }

  .social-media a{
    margin-right: 30px;
    margin-left: 30px;
  }