/* StorePage.css */

.store-page {
  display: flex;
  justify-content: space-between;
  }

.store-page-title {
  margin-right: 20px;
}

.sidebar {
  width: 154px;
  height: 200px;
  padding: 10px;
  background-color: rgb(47, 134, 166);
  border: 0.5px solid orange;
  color: white; 
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 14px;
}

.sidebar h2 {
  margin-bottom: 10px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 5px;
  cursor: pointer;
}

.sidebar li:hover {
  color: #ff8000;
}

.product-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 400px;
  min-width: 83%;
}

.product-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%; 
  margin-left: 3px;
}

.product-list-header h3 {
  margin: 0;
  color: white;
  font-size: 16px;
}

.product-list-header select {
  padding: 5px;
  background-color: orange;
  color: white;
  border-radius: 4px;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.search-bar input {
  padding: 8px 10px;
  margin-right: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 14px;
  transition: all 0.3s ease;
  width: 200px;
}

.search-bar input:focus {
  outline: none;
  border-color: #ff8000;
  box-shadow: 0 0 5px rgba(255, 128, 0, 0.5);
}

.product-card {
  width: 200px;
  border-radius: 4px;
  padding: 10px;
  margin: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: rgb(47, 134, 166);
  border: 1px solid orange;
  color: white;
}

.product-card img {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}

.product-card h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.product-card p {
  margin: 0;
  color: #070000;
}

.product-card .product-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card button {
  background-color: #ff8000;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
}

.product-card .product-info-icon {
  font-size: 20px;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-number {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  background-color: orange;
  color: white;
  border-radius: 4px;
}

.page-number.active {
  background-color: #ff8000;
}

.product-list-footer {
  position: absolute; /* Fijar posición */
  bottom: -50px; /* Mantener en la parte inferior */
  width: 100%; /* Ancho completo */
  padding: 10px;
  text-align: center;
}

@media (max-width: 600px) {
  .search-bar input {
    width: 150px;
  }
  .product-card {
    transform: scale(0.8);
  }

  .sidebar {
    transform: scale(0.8);
  }
}