/* StorePage.css */

.store-page {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.store-page-title {
  margin-right: 20px;
}

.sidebar {
  width: 350px;
  height: 200px;
  padding: 10px;
  background-color: rgb(47, 134, 166);
  border: 0.5px solid orange;
  color: white;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 14px;
}

.sidebar h2 {
  margin-bottom: 10px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 5px;
  cursor: pointer;
}

.sidebar li:hover {
  color: #ff8000;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto; /* Aplica desbordamiento vertical si es necesario */
  width: 2500px ;
}
.product-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
  margin-left: 30px;
}

.product-list-header h3 {
  margin: 0;
  color: white;
}

.product-list-header select {
  padding: 5px;
  background-color: orange;
  color: white;
  border-radius: 4px;
}

.search-bar {
  display: flex;
  
}

.search-bar input {
  padding: 5px;
  margin-right: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 14px;
  transition: all 0.3s ease;
  width: 200px;
}

.search-bar input:focus {
  outline: none;
  border-color: #ff8000;
  box-shadow: 0 0 5px rgba(255, 128, 0, 0.5);
}

.product-card {
  width: 200px;
  border-radius: 4px;
  padding: 10px;
  margin: 8px auto; /* Modificación */
  background-color: rgb(47, 134, 166);
  border: 1px solid orange;
  color: white;
}

.product-card img {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}

.product-card h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.product-card p {
  margin: 0;
  color: #070000;
}

.product-card .product-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card button {
  background-color: #ff8000;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
}

.product-card .product-info-icon {
  font-size: 20px;
  cursor: pointer;
}

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
  .product-card {
    width: 150px;
    padding: 8px;
  }
  
  .product-card img {
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 8px;
  }
  
  .product-card h3 {
    font-size: 16px;
  }
  
  .product-card p {
    font-size: 14px;
  }
  
  .product-card button {
    font-size: 12px;
    padding: 3px 6px;
    margin-top: 8px;
  }
  
  .product-card .product-info-icon {
    font-size: 16px;
  }
}
