body {
  color: #ffffff;
}

.container-product-list {
  max-width: auto;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  border: 3px solid seagreen; /* Borde de 3px de ancho y color azul */
}

.header-row-category-list {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  font-weight: bold;
  margin-bottom: 15px;
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid white;
  margin-left: 8%;
  margin-right: 8%;
}

.container-products {
  display: grid;
  gap: 15px;
}

.category {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 15px;
  align-items: center;
  text-align: center;
  gap: 15%; /* Espacio entre columnas */
  margin-left: 9%;
  margin-right: 9%;
}
.category.selected {
  background-color: blue; /* Cambia esto al color que desees */
}

h1 {
  margin-top: 0;
  text-align: center;
  text-shadow: -1px -1px 0 #ffffff,
    /* Sombra en la esquina superior izquierda (x, y, tamaño, color) */ 1px -1px
      0 #000,
    /* Sombra en la esquina superior derecha (x, y, tamaño, color) */ -1px 1px 0
      #000,
    /* Sombra en la esquina inferior izquierda (x, y, tamaño, color) */ 1px 1px
      0 #000;
  /* Sombra en la esquina inferior derecha (x, y, tamaño, color) */
}

b {
  text-shadow: -1px -1px 0 #ffffff,
    /* Sombra en la esquina superior izquierda (x, y, tamaño, color) */ 1px -1px
      0 #000,
    /* Sombra en la esquina superior derecha (x, y, tamaño, color) */ -1px 1px 0
      #000,
    /* Sombra en la esquina inferior izquierda (x, y, tamaño, color) */ 1px 1px
      0 #000;
  /* Sombra en la esquina inferior derecha (x, y, tamaño, color) */
}

.btn-add-container {
  display: flex;
  margin-bottom: 15px;
}

.btn-add-product {
  height: 40px;
  width: 170px;
  background: seagreen;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  transition: all 0.3s ease;
  border-width: 0px;
  top: 80%;
  font-size: 19px;
  margin: 5px;
  padding: 5px;
}

.btn-add-product:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.actions-container {
  display: flex;
  justify-content: center;
}

.fa-icon-trash {
  margin-left: 3px;
  font-size: 1.5em;
  color: rgb(255, 41, 41);
  cursor: pointer;
}

.fa-icon-trash:hover {
  color: rgb(255, 0, 0);
}

.fa-icon-trash:active {
  color: #cc0000;
}

.fa-icon-edit {
  margin-right: 3px;
  font-size: 1.5em;
  color: rgb(2, 101, 71);
  cursor: pointer;
}

.fa-icon-edit:hover {
  color: rgb(152, 226, 161);
}

.fa-icon-edit:active {
  color: rgb(152, 226, 161);
}

.filter-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  text-shadow: -1px -1px 0 #ffffff,
    /* Sombra en la esquina superior izquierda (x, y, tamaño, color) */ 1px -1px
      0 #000,
    /* Sombra en la esquina superior derecha (x, y, tamaño, color) */ -1px 1px 0
      #000,
    /* Sombra en la esquina inferior izquierda (x, y, tamaño, color) */ 1px 1px
      0 #000;
  /* Sombra en la esquina inferior derecha (x, y, tamaño, color) */
}

.filter-row label {
  margin-left: 15%;
  margin-right: 5px;
}

.filter-row input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  margin-right: 1%;
}

.filter-row input[type="text"]:focus {
  outline: none;
  border-color: green;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 20px;
}

.pagination button {
  padding: 8px 16px;
  background-color: green;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

.pagination button:hover {
  background-color: #7fde9b;
}

.pagination span {
  font-size: 16px;
  margin: 0 10px;
}
/* Consultas de medios para pantallas de 300px, 500px y 700px */
@media (max-width: 700px) {
  .container {
    padding: 10px;
  }

  .product {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 3fr 3fr 2fr 3fr 3fr 3fr;
    border: 1px solid seagreen;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    gap: 1rem; /* Espacio entre columnas */
  }
}

.product-image-list {
  margin-right: 0;
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
  border-radius: 4px;
}