.password-reset-container {
    font-family: 'Electrolize', sans-serif;
    max-width: 400px;
    margin: auto;
    padding: 40px;
    border: 3px solid #FF8C00;
    border-radius: 5px;
    background-color: rgba(47, 134, 166, 0.3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .password-reset-message {
    margin-top: auto; 
    text-align: center;
    color: #fff;
  }
  
  
  
  .password-reset-title {
    text-align: center;
    margin-bottom: 30px; 
    font-size: 24px;
    color: #fff;
  }
  
  .password-reset-description {
    margin-bottom: 20px; 
    font-size: 16px;
    color: #fff;
  }
  
  .password-reset-form {
    display: flex;
    flex-direction: column;
  }
  
  .password-reset-option {
    margin-bottom: 20px; 
    display: flex;
    align-items: center;
  }
  
  .password-reset-option input[type="radio"] {
    margin-right: 50px;
  }
  .password-reset-option label {
    margin-right: 25px; 
  }
  
  .password-reset-input {
    width: 80%; 
    max-width: 230px; 
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #e28c1c;
    border-radius: 3px;
    font-size: 16px;
    margin-left: auto; 
    margin-right: auto; 
    display: block; 
  }
  
  .password-reset-input::placeholder {
    color: #999;
  }
  
  .password-reset-button,
  .password-reset-cancel {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 4px;
    margin-bottom: 10px;
  }
  
  .password-reset-button {
    background: linear-gradient(45deg, rgb(0, 110, 255), #ff8c00);
    color: #fff;
  }
  
  .password-reset-button:hover {
    background-color: #0056b3;
  }
  
  .password-reset-cancel {
    background-color: #FF6347;
    color: #fff;
  }
  
  .password-reset-cancel:hover {
    background-color: #FF4500;
  }
  
  .password-reset-message {
    margin-top: 20px;
    text-align: center;
    color: #fff;
  }