.sale-details {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.back-link {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #007bff;
}

.back-link:hover {
  text-decoration: underline;
}

.div-customer {
  background-color: rgba(47, 134, 166, 0.6);
  margin-top: 20px;
  padding: 20px;
}

.img-product-sale {
  width: 130px;
  height: 70px;
  object-fit: cover;
}
